body {
	color: #ff9f1c;
	background-color: #262626;
	box-shadow: 0 0 60px 0 #000 inset;
	margin: 0;
	background-image: url('bg.jpg') !important;
	font-family: sans;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	padding-top: 20px;
	padding-bottom: 80px;
}

header {
	position: relative;
	background: linear-gradient(to bottom, #252525, #404040) !important;
	box-shadow: 0 4px 2px -2px #404040;
	font-family: sans;
	font-size: 34pt;
	margin-bottom: 15px;
}

header .unofficial {
	font-size: 22pt;
}

header section {
	font-size: 12pt;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

header section p {
	margin-top: 16px;
	margin-bottom: 0px;
}

a {
	color: #d89954;
}

#status {
	color: #ccc;
}

.part {
	padding: 5px;
	background-color: #303030;
	border: 1px solid #000;
	box-shadow: 0 0 2px black;
	margin-bottom: 10px;
}

nav section {
	display: inline-block;
	margin-right: 30px;
}

.clickableImage {
	cursor: pointer;
}

.spacing {
	display: inline-block;
	width: 13px;
}

nav {
	line-height: 35px;
	padding-top: 0;
	padding-bottom: 0;
}

nav input[type="number"] {
	width: 40px;
}

nav input[type="checkbox"] {
	position: relative;
	top: 2px;
}

nav #loadPrevious {
	display: none;
}

main {
	color: #ddd;
}

main .line {
	display: block;
	margin-top: 3px;
}

main hr {
	border-color: #555;
	margin-top: 20px;
	margin-bottom: 20px;
}

main strong, main .serverName, main .versionV {
	color: #ff9f1c;
}

main .versionV {
	font-weight: bold;
}

main .serverName {
	font-size: 16pt;
	display: inline-block;
	margin-right: 10px;
}

main .connect {
	font-family: monospace;
}

main a {
	/* links to mods.factorio.com */
	text-decoration: none;
}

main .modsexpandLink {
	text-decoration: underline;
}

footer {
	margin-top: 20px;
	color: #ccc;
	font-size: 11pt;
	font-family: serif;
}

